<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>Add product</div>
<div>
    <form method="post">
        <input type="text" name="name" placeholder="Enter the name"/>
        <input type="text" name="price" placeholder="Enter the price"/>
        <button type="submit">Add</button>
    </form>
</div>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

</body>
</html>