<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

</head>
<body>
<header th:insert="blocks/header :: header" class="p-3 text-bg-dark" style="flex: 1;"></header>
<div class="container">
    <div class="row">
        <div class="col-lg">
            <img th:src="${product.image}" style="height:600px;width:600px;"/>
        </div>
        <div class="col-sm">
            <br>
            <h1 th:text="${product.name}" style="text-align:center;"></h1><br><br>
            <span class="form-control" th:text="${'Price: '+product.price}"></span><br>
            <span class="form-control" th:text="${'Count: '+product.count}"></span><br>
            <span class="form-control" th:text="${'Company: '+product.company}"></span><br>
            <span class="form-control" th:text="${'Description: '+product.description}"></span>
            <br>
            <form th:if="${login!='anonymousUser'}" th:action="${'/product/'+product.id+'/to_cart'}" method="post">
                    <input type="hidden" name="productId" th:value="${product.id}">
                <button class="btn btn-outline-dark w-100 py-2" type="submit">Add to cart</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>