<div th:fragment="header">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <form th:action="@{/home}">
            <input type="submit" value="Home" class="btn btn-outline-light me-2"/>
            </form>

            <div class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"></div>



            <div class="text-end">
                <div class="row">
                    <div class="col" th:if="${login=='anonymousUser'}">
                        <form th:action="@{/login}" method="post">
                            <input type="submit" value="Login" class="btn btn-outline-light me-2"/>
                        </form>
                    </div>
                    <div class="col" th:if="${login=='anonymousUser'}">
                        <form th:action="@{/registration}" method="post">
                            <input type="submit" value="Sign Up" class="btn btn-warning"/>
                        </form>
                    </div>
                    <div th:if="${login!='anonymousUser'}" class="col">
                        <form th:action="@{/account}" method="post">
                            <input type="submit" value="Account" class="btn btn-outline-light me-2"/>
                        </form>
                    </div>
                    <div th:if="${login!='anonymousUser'}" class="col">
                        <form th:action="@{/account/cart}" method="get">
                            <input type="submit" value="Cart" class="btn btn-outline-light me-2"/>
                        </form>
                    </div>
                    <div th:if="${login!='anonymousUser'}" class="col">
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" value="Sign Out" class="btn btn-warning"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
