<div th:fragment="header">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img class="bi me-2" width="40" height="32" role="img" src="https://imageup.ru/img93/4607471/panda.jpg">
            </a>

            <div class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"></div>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..."
                       aria-label="Search">
            </form>

            <div class="text-end">
                <div class="row">
                    <div class="col" th:if="${login=='anonymousUser'}">
                        <form th:action="@{/login}" method="post">
                            <input type="submit" value="Login" class="btn btn-outline-light me-2"/>
                        </form>
                    </div>
                    <div class="col" th:if="${login=='anonymousUser'}">
                        <form th:action="@{/registration}" method="post">
                            <input type="submit" value="Sign Up" class="btn btn-warning"/>
                        </form>
                    </div>
                    <div th:if="${login!='anonymousUser'}" class="col">
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" value="Sign Out" class="btn btn-warning"/>
                        </form>
                    </div>
                    <div th:if="${login!='anonymousUser'}" class="col">
                        <form th:action="@{/account}" method="post">
                            <input type="submit" value="Account" class="btn btn-outline-light me-2"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
